<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Список кинотеатров</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h1>Список кинотеатров</h1>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Выйти"/>
    </form>
</div>
<br/><br/>
<a href="/">На главную</a>
<br/><br/>
<a href="/cinemas/add">Добавить кинотеатр</a>
<br/><br/>
<div>
    <table border="0">
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>UserName</th>
            <th></th>
        </tr>
        {{#cinemas}}
            <tr>
                <td><a href="/cinemas/{{cinema_id}}">{{cinema_id}}</a></td>
                <td><a href="/cinemas/{{cinema_id}}">{{name}}</a></td>
                <td><a href="/cinemas/{{cinema_id}}">{{userName}}</a></td>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <td><a href="/cinemas/{{cinema_id}}/edit">Изменить</a></td>
            </tr>
        {{/cinemas}}
    </table>
</div>
<br/><br/>
<div>
    <nobr>
        {{#hasPrev}}<a href="/cinemas?page={{prev}}">Prev</a>&nbsp;&nbsp;&nbsp;{{/hasPrev}}
        {{#hasNext}}<a href="/cinemas?page={{next}}">Next</a>{{/hasNext}}
    </nobr>
</div>

<form method="post" action="filter">
    <input type="text" name="name">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Найти</button>
</form>

{{>footer}}
</body>
</html>