<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>Список кинотеатров</div>
<a href="/cinemas">На главную страницу</a>
<form method="post" action="filter">
    <input type="text" name="name">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Найти</button>
</form>

<table border="0">
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>UserName</th>
        <th></th>
    </tr>
    {{#cinemas}}
        <tr>
            <td><a href="/cinemas/{{cinema_id}}">{{cinema_id}}</a></td>
            <td><a href="/cinemas/{{cinema_id}}">{{name}}</a></td>
            <td><a href="/cinemas/{{cinema_id}}">{{userName}}</a></td>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <td><a href="/cinemas/{{cinema_id}}/edit">Изменить</a></td>
        </tr>
    {{/cinemas}}
</table>


</body>
</html>