<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Выйти"/>
    </form>
</div>
<br/><br/>
<h1>{{title}}</h1>
<a href="/cinemas">Список Кинотеатров</a>
{{>footer}}
</body>

</html>